/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}
.bg-about-us{
    background: -webkit-gradient(linear, left top, left bottom, from(#4b0363), to(#1B0043));
    background: -o-linear-gradient(#4b0363, #1B0043);
    background: linear-gradient(#4b0363, #1B0043);
}

.centrado-flex-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.h2-about-us{
    font-size: 2.8em;
    color: #fff;
    text-align: center;
    margin: 35px;
    text-transform: uppercase;
}

#box-escuela-descripcion{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#escuela-descripcion{
    /* text-align: justify; */
    /* width: 100%; */
    color:antiquewhite;
    line-height: 2em;
    background-color: rgb(61 3 73);
    font-size: 1.3rem;
    padding: 6vw 15vw;
    /* font-weight: 600; */
    border-radius: 30px;
}
#escuela-descripcion span{
    font-weight: bold;
    color:crimson;
    display: block;
    /* text-align: center; */
    width: 85%;
    margin-left: 9%;
    margin-bottom: 25px;
}

/* -----------------------------seccion profesores */

.box-profesores{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px
}

#profesores-img-santi{
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
}
#profesores-img-mica{
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
}
.profesores-nombre{
    font-size: 1.5rem;
    color:antiquewhite;
}
.profesores-descripcion{
    margin: 20px;
    /* text-align: justify; */
    /* width: 100%; */
    color:antiquewhite;
    line-height: 2em;
    background-color: rgb(61, 3, 73);
    padding: 30px 15vw;
    font-size: 1.3rem;
    border-radius: 40px;
}

.profesores-descripcion span{
    color: crimson;
}
.contacto-profesores{
 text-align: center;
 margin: 15px;
}

.contacto-profesores a{
    text-decoration: none;
}
.instagram{
    color: crimson;
    margin: 0 5px;
}
.facebook{
    color: blue
}
.profesores-descripcion span{
    color: crimson;
    display: block;
    /* font-weight: 600; */
    text-align: center;
    width: 85%;
    margin-left: 9%;
}


#separador-profesores{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px;
}
#separador-profesores i {
font-size: 1em;
margin: 15px;
color: #1B0043;
}

/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */
@media (min-width: 800px) {

/* -----------------------------seccion profesores */

.box-profesores{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px
}

#profesores-img-santi{
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
}
#profesores-img-mica{
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
}



}