h2{ font-size: 2em;
    color: #dbbf20;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
}

#aprende-section {
    padding: 20px 0;
    background-color: rgb(241, 231, 241);
}
#box-aprende{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.box-art-aprende{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding:15px 0;
    border: 1px solid antiquewhite;
    border-radius: 7px;
    height:80wh;
    width: 80wh;
    background-color: rgb(167, 101, 167);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}
#box-aprende h3{
    margin: 20px;
    color:antiquewhite;
    letter-spacing: 0.2em;
}

#box-aprende p{
    color: antiquewhite;    
}
.box-aprende-p{
    margin: 20px;
}
.icon-aprende{
    width: 20vw;
}



/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */

@media (min-width: 850px) {

#box-aprende{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box-art-aprende{
    padding:0;
    padding-top: 20px;
    height:400px;
    width: 400px;
    position: relative;
}
#box-aprende h3 {
    position: absolute;
    top: 5px;
}

.box-aprende-p{
    background-color:transparent;
    margin: 20px;
}
#box-aprende p{
    color: antiquewhite;   
    text-align: center;
    font-size: 0.9em;
}
.icon-aprende{
    max-width: 100px;
}

}