#title-aprende{ font-size: 2em;
    color: #dbbf20;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
}

#aprende-section {
    padding: 20px 0;
    background-color: rgb(241, 231, 241);
}
#box-aprende{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.box-art-aprende{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding:15px 0;
    border: 1px solid antiquewhite;
    border-radius: 7px;
    height:80wh;
  
    background-color: rgb(167, 101, 167);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
transition: all 300ms
}
.box-art-aprende:hover{
    transform: scale(1.05); 
}


#box-aprende p{
    color: antiquewhite;    
}
.box-aprende-p{
    margin: 20px;
}
.icon-aprende{
    width: 20vw;
}



/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */

@media (min-width: 850px) {

#box-aprende{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.box-art-aprende{
    padding:0;
    height:400px;
    width: 400px;
}

.box-aprende-p{
    background-color:transparent;
    margin: 20px;
    margin-top:40px
}
#box-aprende p{
    color: antiquewhite;   
    text-align: center;
    font-size: 0.9em;
}
.icon-aprende{
    max-width: 100px;
}

}