body .container{
    position: relative;
    width: 70%;
}
h1 {
    font-size: 2rem;
}

p {
    /* font-size: 1.2rem; */
    /* width: 655px; */
}
.error-txt{
    position: relative;
    right: -249px;
    top: -340px;
    width: 516px;
    font-size: 1.5rem;
}


@media(max-width:950px){
    img{
        width:80vw
    }

    .error-txt{
        position:static;

    }
}

 