@font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Medium'), local('DIN-Next-LT-Pro-Medium'),

        url('/fonts/DINNextLTPro-Medium/DINNextLTPro-Medium.woff2') format('woff2'),
        url('/fonts/DINNextLTPro-Medium/DINNextLTPro-Medium.woff') format('woff'),
        url('/fonts/DINNextLTPro-Medium/DINNextLTPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }



  @font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Italic'), local('DIN-Next-LT-Pro-Italic'),
        url('/fonts/DINNextLTPro-Italic/DINNextLTPro-Italic.woff2') format('woff2'),
        url('/fonts/DINNextLTPro-Italic/DINNextLTPro-Italic.woff') format('woff'),
        url('/fonts/DINNextLTPro-Italic/DINNextLTPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }



  @font-face {
    font-family: 'DIN Next LT Pro';
    src: local('DIN Next LT Pro Regular'), local('DIN-Next-LT-Pro-Regular'),
        url('/fonts/DINNextLTPro-Regular/DINNextLTPro-Regular.woff2') format('woff2'),
        url('/fonts/DINNextLTPro-Regular/DINNextLTPro-Regular.woff') format('woff'),
        url('/fonts/DINNextLTPro-Regular/DINNextLTPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


