/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

#titulo-formaciones{
    text-transform: uppercase;
    color: black;
    margin: 50px;
}


#formaciones-box{
    background-color:#fff; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.art-formaciones {
    width:95%;
    margin: 25px;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
.art-formaciones img{
    width: 100px ;
}
.art-formaciones h2{
        font-size: 2em;
        color: #dbbf20;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
}
.art-formaciones p{
    margin: 0 20px;
    margin-bottom: 20px ;
    color: #4b0363;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 600;
}

#art-masterclass{
margin-top: 0;
}

#separador {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin:10px

}
#separador i{
font-size:1em;
margin:15px;
color: #1B0043
}






