* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background: linear-gradient(#1B0043, #4b0363);
}

#logo{
    width: 100%;
}
#a-logo{
    width: 30%;
    max-width: 150px;
    margin-right: 100px;
}

#iburguer {
    padding: 8px 8px;
    max-width: 35px;
    background-color: #f0c949;
    color: #240c31;
    text-align: center;
    font-size: 15px;
    margin: auto;
    border-radius: 8px;
}


#nav-bar{
    display: none;
}

header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* background-color: #4b0363; */
}
/* ======================================Media Queries====================================== */
@media (min-width: 700px) {
    header{
        padding: 0 20px;
        max-height: 80px;
        justify-content: start;
    }


    #nav-bar{
        display: block;
        width: 100%;
    }

    #nav-bar ul {
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
        /* position: relative;
        top: 40px; */
        width:100%;

    }

    #nav-bar li{
        list-style:none;  
        margin: 10px;
    }

    #nav-bar li a {
        color: rgb(229, 216, 235);
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
    }

    #iburguer {display: none;}
}