* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background: linear-gradient(#1B0043, #4b0363);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#logo{
    width: 100%;
}
#a-logo{
    width: 30%;
    max-width: 150px;
    margin-right: 100px;
}

#iburguer {
    padding: 8px 8px;
    max-width: 35px;
    background-color: #f0c949;
    color: #240c31;
    text-align: center;
    font-size: 15px;
    margin: auto;
    border-radius: 8px;
}


#nav-bar{
    display: none;
}


/* -------------------iconos de redes sociales */
#social-section{
    display: flex;
    justify-content: space-between;
}
#social-section i{
    margin:10px;
}

.facebook-hf{
    color:antiquewhite;
    transition: all 300 ms
}
.facebook-hf:hover{
    color:rgb(16, 16, 126)
}
.instagram-hf{
    color:antiquewhite;
    transition: all 300 ms
}
.instagram-hf:hover{
    color:crimson
}


/* ======================================Media Queries====================================== */
@media (min-width: 700px) {
    header{
        padding: 0 20px;
        max-height: 80px;
        justify-content: start;
    }


    #nav-bar{
        display: block;
        width: 100%;
    }

    #nav-bar ul {
        display: flex;
        justify-content: start;
        width:100%;
    }

    #nav-bar li{
        list-style:none;
        margin: 25px;
    }

    #nav-bar li a {
        color: rgb(229, 216, 235);
        text-decoration: none;
        font-size: 1rem;
        transition: all 100ms;
    }
    #nav-bar li a:hover{
        border-bottom: 3px solid #f0c949;
        color: white


    }
    #iburguer {display: none;}


}