/*********************************************** HEADER MOBILE ***********************************************/
header{
    background-color: #210629;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(71, 6, 71, 0.6);
}
a{
    text-decoration:none
}
.logo{
    width: 100%;
    max-width: 170px;
    min-width: 50px;
}

/* 
.search { 
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    color:#30544E;
    width: 50vw;
    margin: auto;
} 

.search > input:focus {
    outline: none;
}

.searchBar{
    color: #30544E;
    border: none;
    padding:5px 10px;
    width: 85%;
}
*/
.mainNav a:hover{
    color: #A78B48;
}

/* .iconsNav a:hover{
    color: #A78B48;
} */

#menuNav{
    display: none;
    transition: all 0.5s ease-out;
    margin-right:10vw;

}

#burgerMenu  .burguer{
    font-size: 6vw;
    color: #210629;
    width: 10vw;
    height: 10vw;
    text-align: center;
    margin: auto;
    background-color: #F5E078;
    border: solid #F5E078 1px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exitMenu .exit{
    font-size: 6vw;
    background-color: #F5E078;
    border: solid #F5E078 1px;
    border-radius: 100%;
    color: #210629;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3.5vh;
    right: 1vw;
}

#burgerMenu .burguer:hover{
    background-color: #A78B48;
    border: solid #A78B48 1px;
    transition: all 0.25s;
}

#menuNav:target{
    font-size: 1.3em;
    display: flex;
    position: fixed;
    width: 79vw; 
    height: 100vh;
    background-color: rgba(33, 6, 41,0.95) ;
    top: 0;
    right: 0;
    z-index: 2;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    padding-left: 20px;
}

#menuNav:target .burgerMenu{
    visibility: hidden;
}

#menuNav li{
    margin-bottom:15px;
}

/* #menuNav:target .iconsNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: 1.5em;
    top: 4vh;
} */

/* #menuNav:target .iconsNav a{
    color:#F5E078;
    margin: 0 4vw;
} */

#menuNav:target .mainNav li{
    font-weight: bold;
    color:#F5E078
}

#menuNav:target .mainNav li ul li{
    font-weight: normal;
    list-style:none;
    color:#F5E078
}
#menuNav:target .mainNav a{
    color:#F5E078
}
#social-div{
    display:none
}
.sub-ul-formaciones, .sub-ul-about{display:none}
.toggle{
    display:block; 

}
.mainNav>li>ul>li{
    margin: 5px;
    border-bottom: 1px solid black;
    
}

/* .iconsNav>li>ul{
    display: none;
} */


/*********************************************** TABLET ***********************************************/
@media (min-width: 768px){

    /*********************** HEADER TABLET ***********************/    
    .logo{
    margin-left:20px
    }

    #menuNav:target{
        display: none;
    }

    #menuNav{
        display: contents;

    }

    #exitMenu{
        display: none;
    }

    .mainNav{
        margin-top:13px;
        width: 45vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .mainNav li>a{
        color: #F5E078;
        text-decoration: none;
        padding: 5px 0;
        font-size: 1.1em;
        font-weight: 350;
        position: relative;
    }

    .mainNav>li{
        float: left;
        text-align:left
    }

    .mainNav>li>ul{
        display: none;
    }

    .mainNav>li:hover>ul {
        
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(33, 6, 41,0.95);
        border: 2px solid black;
        padding:15px;
        border-radius: 5px;
        z-index: 1;
    }
    .mainNav>li>ul>li{
        margin: 5px;
        border-bottom: 1px solid black;
    }



    /* .iconsNav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 10vw;
        margin-right: -6vw;
    } 
    
    .iconsNav a{
        font-size: 150%;
        color: #F5E078;
    } */

    /* .search {
        width: 20%;
        margin: 5px;
    } */
    #burgerMenu{
        display: none;
    }

    .avatar{
        width: 1.5em;
        height: 1.5em;
    }

    /* .iconsNav>li:hover>ul {
        height: 10vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(51, 109, 75, 0.75);
        padding: 0px 10px;
        border-radius: 5px;
        z-index: 1;
    }

    .iconsNav>li>ul>li>a{
        font-size: 1.2em;
    } */

    #social-div{
    display: flex;
    justify-content: space-between;
}
#social-div i{

    margin:10px;
}

.facebook-hf{
    color:#F5E078;
    transition: all 300 ms
}
.facebook-hf:hover{
    color:rgb(16, 16, 126)
}
.instagram-hf{
    color:#F5E078;
    transition: all 300 ms
}
.instagram-hf:hover{
    color:crimson
}

}


/*********************************************** DESKTOP ***********************************************/
@media (min-width: 1021px){
    /*********************** HEADER DESKTOP ***********************/
    header{
        margin: auto;
    }

    .mainNav{
        width: 50%;
        justify-content: space-around;
    }


    
    /* .iconsNav{
        margin: 0px;
        width: 10%;
    } */

}




















/* ========================================antiguo header ========================================*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
}
header {
    background: linear-gradient(#1B0043, #4b0363);

}
#container-main-header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#logo{
    width: 100%;
    max-width: 170px;
    min-width: 50px;
}
#a-logo{
    width: 50%;
    
    margin-right: 100px;

}

#iburguer {
    display:block;
    padding: 8px 8px;
    background-color: #d8b132;
    color: #240c31;
    text-align: center;
    font-size: 15px;
    margin: auto;
}


#nav-bar-desktop{
    display: none;
}

#nav-bar-mobile{
    background-color:#d8b132;
    padding:20px;
    color: white;
    cursor:pointer;
    font-size:1.5em;
    position: relative;


}

#nav-bar-mobile ul li{
    list-style:none;
    padding:0;
    margin:0
} */




/* -------------------iconos de redes sociales */
/* #social-section{
    display: flex;
    justify-content: space-between;
}
#social-section i{
    margin:10px;
}

.facebook-hf{
    color:antiquewhite;
    transition: all 300 ms
}
.facebook-hf:hover{
    color:rgb(16, 16, 126)
}
.instagram-hf{
    color:antiquewhite;
    transition: all 300 ms
}
.instagram-hf:hover{
    color:crimson
} */


/* ======================================Media Queries====================================== */
/* @media (min-width: 880px) {
    header{
        padding: 0 20px;
        max-height: 80px;
        justify-content: start;
    }


    #nav-bar-desktop{
        display: block;
        width: 100%;
    }
#nav-bar-mobile{
    display:none
}
    #nav-bar-desktop ul {
        display: flex;
        justify-content: start;
        width:100%;
    }

    #nav-bar-desktop li{
        list-style:none;
        margin: 25px;
    }

    #nav-bar-desktop li a {
        color: rgb(229, 216, 235);
        text-decoration: none;
        font-size: 1rem;
        transition: all 100ms;
    }
    #nav-bar-desktop li a:hover{
        border-bottom: 3px solid #f0c949;
        color: white


    }
    #iburguer {display: none;}


} */