* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}

/* .bgimg {
    display: block;
    background-size: contain;
    background-image: url(/img/fondo-conste.png),linear-gradient(#4b0363, #1B0043);
    background-repeat: repeat;
    z-index: -1;
} */
.bgimg{
    background: linear-gradient(#4b0363, #1B0043);
}


h1, h2{
    margin:  auto;
    padding-top: 10px;
    text-align: center;
}

h1{
    color: #dbbf20;
    font-size: 2.2em;
    text-transform: uppercase;
    position:relative;
    margin: 0 50px;
    transition:all 300ms
}
h1:hover{
    color: #d6c042;
    transform  : scale(1.05);
}

h2{ font-size: 2em;
    color: #dbbf20;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
h1 ~ h2{
    font-size: 1em;
}



#main-box {
    text-align: center;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
}


/* ================video================ */
#video-box{
/* border: 2px solid red; */
width:100%;
text-align: center;
margin-top: 20px

}

#video{
    max-width:90%;
    max-height:100%;
}

#video-y-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =================formulario================= */
#register-form{
    display: flex;
    justify-content: center;
    color:  rgb(229, 216, 235);
    font-weight: 600;
    margin-top: 50px;
    width: 70%
}
#register-form h2{
    margin: 15px;
    color: crimson;
    font-size: 1.75em;
    text-transform: uppercase
}
#register-form p{
    margin: 10px;
    font-weight: normal;
}
#fildset-register{
    border: none;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4%;
    background-color: rgb(18, 17, 18, 0.5);
    min-width: 250px;
}

#email-input{
    margin-left:15px;
    margin-top:15px;
}

#name-input {
    margin-top: 15px;
}

.form-input{
    padding: 5px;
    margin:7px 0px 9px;
    border-radius: 10px;
    border: 1px solid #373636;
    width: 70%;
}

label {
    font-size: 1.2em;
    font-weight: 600;
}

#submit-button{
    background-color: green;
    width: 100%;
    height: 45px;   
    color: #f5f5f5;
    margin-left: 6px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 20px 0px 8px 0px;
    border: 0px solid;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 15px;
    text-align: center;
}









/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */
    @media (min-width: 850px) {

    #video-box{
        width: 65%;
        height: auto;
        margin-top: 0px
        }

    #video{
        max-width:100%
    }
    #video-y-form {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 50px 10px;
    }

    #register-form {
        max-width: 35%;
        margin: 0 20px;
    }


}