#titulo-formaciones{
    text-transform: uppercase;
    color: black;
    margin: 50px;
}


#formaciones-box{
    background-color:#fff; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art-formaciones {
    width:95%;
    margin: 25px;
    border-radius: 7px;
    display: flex;
    flex-direction:column;
    align-items: center;
    }
.art-formaciones img{
    width: 400px ;
}
.art-formaciones h2{
        font-size: 4em;
        color: #dbbf20;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -60px;
        text-transform: uppercase;
        background-color: #1B0043;
        width: 100%;
}
.art-formaciones p{
    margin: 0 20px;
    margin-bottom: 20px ;
    color: #4b0363;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 600;
    margin-top: -40px;
}

#art-masterclass{
margin-top: 0;
}

#separador {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px

}
#separador i{
font-size:1em;
margin:15px;
color: #1B0043
}

#section-masterclass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    padding:50px 20px
}

#accede-title{
font-size: 1.4em;
color: #fff;
text-align: center;
margin: 30px 0;
text-transform: uppercase;
width: 100%;
display: block;
}
#section-masterclass{
background-color: #4b0363;
}

#section-masterclass a{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

}

.art-masterclass{
display: flex;
flex-direction: column;
align-items: center;
background-color: #fff;
width: 500px;
height: 650px;
margin: 20px 50px;
padding:10px;
border: 1px solid black;
border-radius: 4px;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
position:relative
}
.art-masterclass h2{
font-size: 1.2rem;
color: #dbbf20;
text-align: center;
margin-bottom: 20px;
text-transform: uppercase;
background-color: #1B0043;
width: 100%;
}
.art-masterclass img{
width: 85%;
}

.art-masterclass p{
width: 95%;
background-color: #fff;
padding:8px;
line-height: 150%; 
color: #1B0043;
margin: 10px 0;
text-align: center;
box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.71);
border-radius: 4px;


}

.button{
text-decoration: none;
min-width: 180px;
height: 45px;   
font-weight: bold;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
cursor: pointer;
background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  50%, #ffb347  100%);
margin: 10px;
padding: 15px 45px;
transition: 0.3s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 10px #eee;
border: 0px solid;
border-radius: 10px;
display: block;
position:absolute;
bottom:0
}


.button:hover {
background-position: right center;
color: rgb(39, 36, 36);;
text-decoration: none;
transform: scale(1.05); 
}



/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */
@media (min-width: 950px) {


#section-masterclass{
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.art-masterclass{
width: 400px;
height: 570px;
margin: 20px 20px;
border: 1px solid black;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
transition:all 300ms

}

.art-masterclass:hover{
transform:scale(1.07);
box-shadow:none
}

.art-masterclass h2{
font-size: 1.3rem;

}
}