/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}

#titulo-formaciones{
    text-transform: uppercase;
    color: #fff;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}


#formaciones-box{
    background-color: rgb(33 6 41);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.art-formaciones {
    width:95%;
    margin: 25px;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }
.art-formaciones img{
    width: 360px ;
}
.art-formaciones h2{
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    background-color: #1B0043;
    width: 105%;
    letter-spacing: 4px;
    padding: 10px 0;
    /* border-radius: 11px; */
}
.art-formaciones p{
    margin: 0 20px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    /* margin-top: -60px; */
}

#art-masterclass{
margin-top: 0;
}

#separador {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin:10px

}
#separador i{
font-size:1em;
margin:15px;
color: #1B0043
}

#section-masterclass{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;   
        padding:50px 20px
}

#accede-title{
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
    width: 100%;
    display: block;
    background-color:#4b0363
    }
/* #section-masterclass{
background-color: #4b0363;
} */

.art-a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.art-masterclass{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b0363), to(rgb(191, 126, 218)));
    background: -o-linear-gradient(#4b0363, rgb(191, 126, 218));
    background: linear-gradient(#4b0363, rgb(191, 126, 218));
    width: 350px;
    height: 491px;
    margin: 20px 50px;
    padding:10px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
    position:relative;
}

.art-masterclass h2{
    font-size: 1.2rem;
    margin: 10px 0;
    border-bottom: #ffb347 3px solid;
    text-align: center;
    color:#fff;
    text-transform: uppercase;


}
.art-masterclass img{
    width: 100%;
    max-width: 223px;
}

.art-masterclass p{
    width: 100%;
    padding:8px;
    line-height: 150%;
    color: #fff;
    margin: 10px 0;
    text-align: center;
    font-size: 1rem;
    align-items: center;
}

.button{
    text-decoration: none;
    min-width: 154px;
    height: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffb347), color-stop(50%, #ffcc33), to(#ffb347));
    background-image: -o-linear-gradient(left, #ffb347 0%, #ffcc33  50%, #ffb347  100%);
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  50%, #ffb347  100%);
    margin: 10px;
    padding: 10px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;
    -webkit-box-shadow: 0 0 10px #eee;
    box-shadow: 0 0 10px #eee;
    border: 0px solid;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position:absolute;
    bottom: 16px;
}


.button:hover {
    background-position: right center;
    color: rgb(39, 36, 36);;
    text-decoration: none;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); 
}

/* #formaciones-box:last-child {
    align-self: start;
    border: #4b0363 100px;
    background-color: red
} */


/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */
@media (min-width: 950px) {


    #titulo-formaciones{
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    #section-masterclass{
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, -webkit-max-content));
        grid-template-columns: repeat(auto-fit, minmax(348px, max-content));
        grid-gap: 16px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: initial;
    }
    
    .art-masterclass{
        width: 319px;
        height: 504px;
        margin: 20px 0px;
        border: 1px solid black;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
        -webkit-transition:all 300ms;
        -o-transition:all 300ms;
        transition:all 300ms;
        padding: 11px;
    }

.art-masterclass:hover{
    -webkit-transform:scale(1.07);
        -ms-transform:scale(1.07);
            transform:scale(1.07);
    -webkit-box-shadow:none;
            box-shadow:none
}


.art-formaciones p{
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.8em;
}
.art-formaciones h2{ 
    font-size: 2rem;
}
.art-masterclass h2{font-size: 1.2rem;h: 4rem;letter-spacing: 0.2rem;}

}

/*-----------------Resoluciones pequeñas----------------- */
@media (max-width: 360px) {

.art-masterclass{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 490px;
    margin: 20px 50px;
    padding:10px;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
    position:relative;
}
.art-formaciones img{
    width: 98% ;
}
.art-masterclass p{
    font-size: 1rem;

}


} 