

#title-profesores{ 
    font-size: 2em;
    color: #dbbf20;
    text-align: center;
    margin: auto 20%;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    border-bottom: #0d172a 3px solid;
}
#profesores-section{
    padding-top: 20px;
    background: linear-gradient(#4b0363, #1B0043);
}


.box-profesores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 20px 20px;
}
.box-art-profesores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px
}
#logo-escuela{
    width:200px;
    transition: all 300ms
}
#logo-escuela:hover {
    filter: saturate(130%);
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

#profe-img-santi{
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
    transition:all 300ms
}
#profe-img-santi:hover {
    filter: saturate(110%);
    -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
}
#profe-img-mica{
    width:200px;
    height:200px;
    border-radius:160px;
    border:10px solid #666;
    transition:all 300ms
}
#profe-img-mica:hover {
    filter: saturate(110%);
    -webkit-transform:scale(1.1);transform:scale(1.1);
    overflow:hidden;
}
.profe-nombre{
    font-size: 1.5rem;
    color:antiquewhite;
    margin-top: 20px
}
.profe-descripcion{
    text-align: center;
    width: 100%;
    color:antiquewhite;
    line-height: 2em;
    padding: 10px 0;
    font-size: 1rem;
    font-style: italic;
    font-weight:400;
}

.contacto-profe{
 display: block;
 text-align: center;
 margin: 15px;
}

.contacto-profe a{
    display: block;
    text-decoration: none;
}
.instagram{
    color: crimson;
}

.boton-ver-mas {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.boton-ver-mas:hover {
    background-color:#dbbf20 ;
    color:#4b0363;
    
}

#separador-profe {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px

}
#separador-profe i{
font-size:1em;
margin:15px;
color: #e2e8f0
}


/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */
@media (min-width: 850px) {
    #logo-escuela{
        width:300px;
        transition: all 300ms
    }
    .profe-descripcion{

        text-align: justify;
        width: 100%;
        color:antiquewhite;
        line-height: 2em;
        padding: 30px 30px 0;
        border-radius: 7px;
        font-size: 1.4rem;
        font-style: italic;
        font-weight:400;
    }
/* .box-profesores{
    align-items: start;
}
.box-art-profesores{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px
}
.profe-nombre{
    margin-left: 20px;
}
.contacto-profe{
 display: flex;
 justify-content:space-between
} */

}