#section-seminarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin:0 10px;
}

#accede-title{
    font-size: 1.2em;
    color: black;
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
}
#section-seminarios{
background-color: #4b0363;
}

#section-seminarios a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.art-seminarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 350px;
    height: 550px;
    margin: 20px 0;
    padding:10px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
    position:relative
}
.art-seminarios h2{
    font-size: 1.2rem;
    color: #dbbf20;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.art-seminarios img{
    width: 85%;
}

.art-seminarios p{
    width: 95%;
    background-color: #fff;
    padding:8px;
    line-height: 150%; 
    color: #1B0043;
    margin: 10px 0;
    text-align: center;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.71);
    border-radius: 4px;


}

.button{
    text-decoration: none;
    min-width: 180px;
    height: 45px;   
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  50%, #ffb347  100%);
    margin: 10px;
    padding: 15px 45px;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border: 0px solid;
    border-radius: 10px;
    display: block;
    position:absolute;
    bottom:0
}


.button:hover {
    background-position: right center;
    color: rgb(39, 36, 36);;
    text-decoration: none;
    transform: scale(1.05); 
}



/* =============================================================================================================== */
/* =================================================Media Queries================================================= */
/* =============================================================================================================== */
@media (min-width: 850px) {


#section-seminarios{
    flex-direction: row;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: flex-start; 
}


.art-seminarios{
    /* width: 100%;
    height: 550px ; */
    margin: 20px 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.71);
transition:all 300ms
}

.art-seminarios:hover{
    transform:scale(1.07);
    box-shadow:none
}

.art-seminarios h2{
    font-size: 1.3rem;

}
}