<section id="aprende-section">
    
    <h2 id="title-aprende">Esta escuela esta dirigida a:</h2>
                <div id="box-aprende">
                <article class="box-art-aprende" id="aprende1">
                    <div class="box-aprende-p">
                    <p>Quienes quieran desarrollar su sensibilidad, abrir sus sentidos y canales de recepción
                        energética y vibracional, para intensificar la conexión con el mundo, el sentimiento de unión con
                        el todo, y la capacidad de sentir el ser.</p>
                    </div>
                </article>
    
                <article class="box-art-aprende" id="aprende2">
                    <div class="box-aprende-p">   
                        <p>Personas sin conocimientos de Astrología y Filosofía, que quieran adquirir estas herramientas
                            ancestrales para mejorar en aspectos puntuales de su vida, desarrollando sus capacidades humanas innatas y las potencialidades de su ser.</p>
                    </div>
                </article>
    
                <article class="box-art-aprende" id="aprende3">
                    <div class="box-aprende-p">
                        <p>Estudiantes de estas disciplinas que quieran seguir profundizando en sí mismos, aprendiendo
                            a través de actividades, juegos y ejercicios que permiten el desarrollo de sus energías, para la
                            propia evolución y la de sus pacientes.
                            </p>
                    </div>
                </article>
    
                <article class="box-art-aprende" id="aprende4">
                    <div class="box-aprende-p">
                        <p> Terapeutas holísticos que quieran integrar a su método de sanación distintas herramientas
                            prácticas provenientes de la Filosofía, la Astrología y el Coaching, ayudando a sus pacientes y
                            a si mismos a acercarse a su ser</p>
                    </div>
                </article>
    
            </div>
            </section>