<section id="aprende-section">
    
    <h2 id="title-aprende">APRENDE CON NOSOTROS</h2>
                <div id="box-aprende">
                <article class="box-art-aprende">
                    <img class="icon-aprende" src="img/icons/astrologia(2).png" alt="icons">
                    <h3>¿Para Quién?</h3>
                    <div class="box-aprende-p">
                    <p>Personas sin conocimientos de Astrología, que quieran realizar una formación para aprender a interpretar el mundo emocional mediante el estudio de la Carta Natal y adquirir una herramienta de desarrollo personal.</p>
                    </div>
                </article>
    
                <article class="box-art-aprende">
                    <img class="icon-aprende" src="img/icons/astrologia(3).png" alt="icons">
                    <h3>¿Cómo?</h3>
                    <div class="box-aprende-p">   
                        <p>Estudiantes de Astrología o Astrólogos profesionales que deseen tomar una formación de especialización, entendiendo cómo funciona el Mundo Emocional en una carta natal.</p>
                    </div>
                </article>
    
                <article class="box-art-aprende">
                    <img class="icon-aprende" src="img/icons/astrologia(4).png" alt="icons">
                    <h3>¿Qué?</h3>
                    <div class="box-aprende-p">
                        <p>Quienes quieran tener un enfoque moderno, terapéutico y evolutivo a sus lecturas de cartas astrológicas. Quienes quieran tener un enfoque moderno, terapéutico y evolutivo a sus lecturas de cartas astrológicas.</p>
                    </div>
                </article>
    
                <article class="box-art-aprende">
                    <img class="icon-aprende" src="img/icons/astrologia(5).png" alt="icons">
                    <h3>¿Para qué?</h3>
                    <div class="box-aprende-p">
                        <p>Para terapeutas que quieran adquirir una herramienta de diagnóstico aplicada a entender cómo funcionan emocionalmente sus pacientes, tanto adultos como niños.</p>
                    </div>
                </article>
    
            </div>
            </section>