<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4 class="title">CATEGORÍAS</h4>
        <ul>
          <li><a class="item" href="/">Inicio</a></li>
          <li><a class="item" href="/sobre-nosotros">Sobre Nosotros</a></li>
          <li><a class="item" href="#estudia-section">Fomaciones Online</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="title">CONTACTANOS</h4>
        <ul class="ul-contactanos">
                <li class="item"><i class="fas fa-mobile-alt iconContact"></i> <a target="_blank" href="https://wa.me/message/BR5KVZRBTY2SJ1">  +549 2236237144</a></li>
                <li  class="item"><i class="fas fa-envelope iconContact"></i> <a target="_blank" href="mailto:contacto@sentirelser.com?Subject=Consulta%20vía%20web">contacto@sentirelser.com</a></li>
                <li  class="item"><i class="far fa-question-circle"></i> <a target="_blank" href="#">Preguntas Frecuentes</a></li>
              </ul>
      </div>
      <div class="footer-col">
        <h4 class="title">SEGUINOS</h4>
        <div class="social-links">
          <a
            class="redes-sociales"
            target="_blank"
            href="https://www.facebook.com/sentirelser"
            ><i class="facebook-hf fab fa-facebook-f"></i
          ></a>
          <a
            class="redes-sociales"
            target="_blank"
            href="https://www.instagram.com/sentirelser"
            ><i class="instagram-hf fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <p class="footer__Copyright">
    Copyright © 2021 Todos los Derechos Reservados
  </p>
</footer>
