<section id="estudia-section">
    <h2 id="title-estudia">ESTUDIA ONLINE CON NOSOTROS</h2>
    <ul id="mas-info-cards">
        <li class="card" id="card-masterclass">
            <img src="img/Masterclass.png" alt="masterclass-icon">
            <h3>Masterclass</h3>
            <p>Clases específicas sobre un tema en particular</p>
            <a href="/formaciones">Mas Info</a>
        </li>
    
        <li class="card" id="card-talleres">
            <img src="img/Talleres.png" alt="talleres-icon">
            <h3>Talleres</h3>
            <p>Programa de entrenamiento intensivo que te capacitará para transformar tu vida</p>
            <a href="/formaciones">Mas Info</a>
        </li>
    
        <li class="card" id="card-cursos">
            <img src="img/Cursos.png" alt="cursos-icon">
            <h3>Cursos</h3>
            <p>Talleres de especialización que ampliará tu visión y conocimiento</p>
            <a href="/formaciones">Mas Info</a>
        </li>
    </ul>
    </section>