<div id="estudia-section">
    <h2 id="title-estudia">ESTUDIA ONLINE CON NOSOTROS</h2>
    <section id="mas-info-cards">
        <article class="card-art" id="card-formacion">
            <div class="info-card">
                <h3>Formación</h3>
                <p>Programa de entrenamiento intensivo que te capacitará para transformar tu vida</p>
                <a class="card-a" href="/formaciones-online/formacion">Mas Info</a>
            /</div>
        </article>
        <article class="card-art" id="card-masterclass">
            <div class="info-card">
                <h3>Masterclasses</h3>
                <p>Clases específicas sobre un tema en particular</p>
                <a class="card-a" href="/formaciones-online/masterclass\">Mas Info</a>
            </div>
        </article>
        <article class="card-art" id="card-seminarios">
            <div class="info-card">
                <h3>Seminarios</h3>
                <p>Talleres de especialización que ampliará tu visión y conocimiento</p>
                <a class="card-a" href="/formaciones-online/seminarios">Mas Info</a>
            </div>
        </article>
    </section>
    </div>