<!---------------------------------------- HEADER ---------------------------------------->
<header>
    <a class="a-logo" href='/'>
        <img class='logo' src="/img/logo.png" alt="Logo sentir el ser">
    </a>

    <section id='menuNav'>

        <ul class='mainNav'>
            <li><a class="submenu-formaciones" href="/formaciones-online">Formaciones Online <i class="fas fa-angle-down"></i></a>
                <ul class="sub-ul-formaciones">
                    <li><a href="/formaciones-online/masterclass"> Masterclass</a></li>
                    <li><a href="/formaciones-online/seminarios">Seminarios</a></li>
                    <li><a href="/formaciones-online/formacion">Formación</a></li>
                </ul>
            </li>
            <li><a class="submenu-about" href="/sobre-nosotros">Sobre Nosotros <i class="fas fa-angle-down"></i></a>
                <ul class="sub-ul-about">
                    <li><a href="/sobre-nosotros">Escuela</a></li>
                    <li><a href="/micaela-prusso">Micaela Prusso</a></li>
                    <li><a href="/santiago-roldan">Santiago Roldán</a></li>
                </ul>
            </li>

            <li><a href='#'>Blog</a>
        
            </li>

            <li><a href='#'>Ayuda</a></li>
        </ul>

            <div id="social-div">
                <a target="_blank" href="https://www.instagram.com/sentirelser"><i class="instagram-hf fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.facebook.com/sentirelser"><i class="facebook-hf fab fa-facebook"></i></a>
            </div>

        <a href='' id='exitMenu'><i class=" exit fas fa-times"></i></a>
    </section>


    <a href='#menuNav' id='burgerMenu'><i class=" burguer fas fa-bars"></i></a>
<script src="/js/header.js"></script>
</header>

