<header>
    <!-- top bar -->
    <a id="a-logo" href="/"> <img id="logo" src="/img/logo.png" alt="logo de sentir el ser"> </a>

    <a href="#" id="burguer-botton"><i  id="iburguer" class="fas fa-bars"></i></a>
    
    <!-- nav bar -->
    <nav id="nav-bar">
        <ul>
            <li><a href="/formaciones-online">Formación Online</a></li>
            <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>

    <section id="social-section">
        <a target="_blank" href="https://www.instagram.com/sentirelser"><i class="instagram-hf fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/sentirelser"><i class="facebook-hf fab fa-facebook"></i></a>
    </section>
    <script src="js/header.js" ></script>
</header>

