<!---------------------------------------- HEADER ---------------------------------------->
<header>
    <a class="a-logo" href='/'><img class='logo' src="/img/logo.png" alt="Logo sentir el ser"></a>

    <section id='menuNav'>

        <ul class='mainNav'>
            <li><a href='/formaciones-online'>Formaciones Online</a> 
                
            </li>
            <li><a href='/sobre-nosotros'>Sobre Nosotros</a>
        
            </li>

            <li><a href='#'>Blog</a>
        
            </li>

            <li><a href='#'>Ayuda</a></li>
        </ul>

            <div id="social-div">
                <a target="_blank" href="https://www.instagram.com/sentirelser"><i class="instagram-hf fab fa-instagram"></i></a>
                <a target="_blank" href="https://www.facebook.com/sentirelser"><i class="facebook-hf fab fa-facebook"></i></a>
            </div>

        <a href='' id='exitMenu'><i class=" exit fas fa-times"></i></a>
    </section>


    <a href='#menuNav' id='burgerMenu'><i class=" burguer fas fa-bars"></i></a>

</header>

