
<header>
    <!-- top bar -->
    <div id="container-main-header">
    <a id="a-logo" href="/"> <img id="logo" src="/img/logo.png" alt="logo de sentir el ser"> </a>

        <!-- nav bar desktop -->
        <nav id="nav-bar-desktop">
            <ul>
                <li><a href="/formaciones-online">Formaciones Online <i class="fas fa-angle-down"></i></a></li>
                <li><a href="/sobre-nosotros">Sobre Nosotros <i class="fas fa-angle-down"></i></a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>

        <section id="social-section">
            <a target="_blank" href="https://www.instagram.com/sentirelser"><i class="instagram-hf fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/sentirelser"><i class="facebook-hf fab fa-facebook"></i></a>
        </section>

    </div>
            <!-- nav bar mobile -->

    <a href="#" id="burguer-botton"><i  id="iburguer" class="fas fa-bars"></i></a>

    <nav id="nav-bar-mobile">
        <ul>
            <li class="container-submenu">
                <a href="/formaciones-online">Formaciones Online <i class="fas fa-angle-down"></i></a>
                <ul class="submenu">
                    <li><a href="/formaciones-online/masterclass">Masterclass</a></li>
                    <li><a href="/formaciones-online/seminarios">Seminarios</a></li>
                    <li><a href="/formaciones-online/formacion">Formación</a></li>
                </ul>
            </li>
            <li class="container-submenu">
                <a href="/sobre-nosotros">Sobre Nosotros<i class="fas fa-angle-down"></i></a>
                <ul class="submenu">
                    <li><a href="/formaciones-online/masterclass">Masterclass</a></li>
                    <li><a href="/formaciones-online/seminarios">Seminarios</a></li>
                    <li><a href="/formaciones-online/formacion">Formación</a></li>
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    <script src="js/header.js" ></script>
</header> 

