<section id="profesores-section" >

    <h2 id="title-profesores">¿Quienes Somos?</h2>
        <div class="box-profesores">

            <article class="box-art-profesores">
                <img id='logo-escuela' src="/img/logo.png" alt="Logo Sentir el Ser">
                <p class="profe-descripcion">Existe un sentir perfecto habita en todos nosotros. Recordarlo y sentirlo son las claves del
                    equilibrio integral del ser.<br><br>
                    Por eso, hemos desarrollado una serie de cursos y terapias holísticas, inspirados en las
                    sabidurías Astrológicas y Filosóficas, para que puedas desplegar las capacidades innatas de tu
                    ser, acercándote al sentir de tu esencia.<br><br>
                    A través del Coaching Astro-Filosófico, queremos brindarte distintas herramientas,
                    acompañándote en tu proceso de sanación, evolución personal y reencuentro con el sentir
                    perfecto que eres.
                    
                </p>
                <a class="boton-ver-mas" href="/sobre-nosotros">Ver más</a>
            
            </article>
        <section id="section-profesores">

            <article class="box-art-profesores">
                <img id="profe-img-mica" src="/img/FotoMicaelaPrusso.jpg" alt="profesora Micaela Prusso">
                <h3 class="profe-nombre">Micaela Prusso</h3>
                <p class="profe-descripcion">A través de la Astrología, te acompaño a sentir, a descubrirte y a conectar con tu esencia para
                    desplegar e integrar el ser en su totalidad.
                </p>
                <a class="boton-ver-mas" href="/micaela-prusso">Ver más</a>

            </article>
            
            <article  class="box-art-profesores">
                <img id="profe-img-santi" src="/img/FotoSantiagoRoldán.jpeg" alt="profesor santiago roldan">

                <h3 class="profe-nombre">Santiago Roldan</h3>
                <p class="profe-descripcion">Desarrollá conmigo las potencialidades innatas de tu ser a través del uso práctico y cotidiano
                    de las mayores sabidurías filosóficas de la humanidad.
                </p>
                <a class="boton-ver-mas" href="/santiago-roldan">Ver más</a>
            </article>
        </div>
    </section>
</section>