<section id="profesores-section" class="bgimg">
    <h2 id="title-profesores">PROFESORES</h2>
        <div class="box-profesores">
                    <article  class="box-art-profesores">
                        <img id="profe-img-santi" src="/img/FotoSantiagoRoldán.jpeg" alt="profesor santiago roldan">
                        <div class="box-profesores">
                        <h3 class="profe-nombre">Santiago Roldan</h3>
                        <p class="profe-descripcion">Desarrollá conmigo las potencialidades innatas de tu ser a través del uso práctico y cotidiano
                            de las mayores sabidurías filosóficas de la humanidad.
                        </p>
                        <a href="/sobre-nosotros/#profe-santi"> <button class="boton-ver-mas">Ver más</button></a>
                        </div>
                    </article>
    
                    <article class="box-art-profesores">
                        <img id="profe-img-mica" src="/img/FotoMicaelaPrusso.jpg" alt="profesora Micaela Prusso">
                        <div class="box-profesores">
                        <h3 class="profe-nombre">Micaela Prusso</h3>
                        <p class="profe-descripcion">A través de la Astrología, te acompaño a sentir, a descubrirte y a conectar con tu esencia para
                            desplegar e integrar el ser en su totalidad
                        </p>
                        <a href="/sobre-nosotros/#profe-mica"> <button class="boton-ver-mas">Ver más</button></a>
                        </div>
        </div>
                    </article>
                </section>