<section id="carousel">
    <h2 id="testimonios-title">TESTIMONIOS</h2>
    <div id="wrapper">
        <article class="box-art-testimonios slide-container" data-slide="0">
            <img class="icon-aprende" src="/img/testimonios/Carolina-Muñeza.jpeg" alt="foto testimonio">
            <h3>Carolina Muñeza - Médica Clínica</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    Trabajamos con mi árbol genealógico y relato de vida. Los ejercicios fueron muy reveladores en mi proceso personal.  Para mí lo más destacable de Mica es su generosidad, su respeto y disponibilidad en el acompañamiento. 
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </article>
        <article class="box-art-testimonios slide-container" data-slide="1">
            <img class="icon-aprende" src="/img/testimonios/Eloisa-García.jpeg" alt="foto testimonio">
            <h3>Eloisa García - Emprendedora</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    Con Mica aprendí a observar mis creencias, a no juzgarme y a transformarlas. Me voy de cada sesión con un conocimiento nuevo, con una herramienta para destrabar esas situaciones que me limitan. Aprendí y crecí mucho con su acompañamiento.
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </article>
        <article class="box-art-testimonios slide-container" data-slide="2">
            <img class="icon-aprende" src="/img/testimonios/Jessica-Zapata.png" alt="foto testimonio">
            <h3>Jessica Zapata - Astróloga</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    Mi experiencia con los cursos fue excelente, me ayudó a conocer mis creencias limitantes, el poder de mis pensamientos y cómo puedo transformarlos. Además, tuve un primer contacto con mi intuición, me conecté conmigo misma, y eso abrió un camino para empezar a conocerme.
                    <i class="fas fa-quote-right"></i>
                </p>
        </article>
        <article class="box-art-testimonios slide-container" data-slide="3">
            <img class="icon-aprende" src="/img/testimonios/Leandro-Fernandez-Strifezza.jpeg" alt="foto testimonio">
            <h3>Leandro Fernandez Strifezza - Psicólogo</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    La capacidad de Santiago para problematizar los comportamientos cotidianos, enlazándolos a temáticas de base filosófica y ancestral, siempre me llamó la atención. No es tarea simple hacer de la filosofía una herramienta práctica para la transformación de vida, y mucho menos hacerlo de una manera asequible para todas las personas. 
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </article>
        <article class="box-art-testimonios slide-container" data-slide="4">
            <img class="icon-aprende" src="/img/testimonios/Lihuen-Saulino.jpg" alt="foto testimonio">
            <h3>Lihuen Saulino - Artista</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    La influencia de Santiago despertó diferentes puntos de vista en mi manera de ver el mundo, permitiéndome comprender la esencia de diferentes temas de interés personal, profundizando en mis pensamientos a través de diversas filosofías.
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </article>
        <article class="box-art-testimonios slide-container" data-slide="5">
            <img class="icon-aprende" src="/img/testimonios/Sabina-Grassi.jpg" alt="foto testimonio">
            <h3>Sabina Grassi - Cantante</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    Aprendí a conectarme conmigo, a escuchar a esa niña que fui y sus vivencias, a abrazarla. Aprendí que esa niña sigue viviendo en mí y recién ahora de grande puedo cuidarla y cuidarme, perdonar, abrazarla... y sanar. ¡Sigo aprendiendo de esa niña que me trae las raíces de varios traumas y sanar con ella! 
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </article>
        <article class="box-art-testimonios slide-container" data-slide="6">
            <img class="icon-aprende" src="/img/testimonios/Tatiana-Gaitán.png" alt="foto testimonio">
            <h3>Tatiana Gaitán - Psicóloga</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    Ha sido un proceso de aprendizaje, de permitirme sacar emociones, resignificar mis creencias, perdonarme, conocerme y cuidarme. No ha sido fácil, pero con compromiso, amor y acompañamiento cualquier situación puede ser transformada. Mica es una excelente profesional, tiene una escucha diferencial, realmente tiene las palabras justas en momentos donde se necesita contención.
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </article>
        <article class="box-art-testimonios slide-container" data-slide="7">
            <img class="icon-aprende" src="/img/testimonios/Marcos-Gallo.jpeg" alt="foto testimonio">
            <h3>Marcos Gallo - Emprendedor</h3>
            <div class="box-testimonios-p">
                <p>
                    <i class="fas fa-quote-left"></i>
                    Santi me ayudó a ver mi realidad con otra perspectiva, viendo todo desde un lugar más calmo y con mayor energía, permitiéndome tomar decisiones más alineadas con mi sentir.
                    <i class="fas fa-quote-right"></i>
                </p>
            </div>
        </article>
    </div>
    
    <nav>
        <a class="arrow" href="#" data-preview="0" id="btn-preview">
            <i class="fas fa-arrow-left"></i>
        </a>
        <a class="arrow" href="#" data-next="1" id="btn-next">
            <i class="fas fa-arrow-right"></i>
        </a>
    </nav>
    <ul>
        <li data-target="0" class="dot"><i class="far fa-dot-circle"></i></li>
        <li data-target="1" class="dot"><i class="far fa-dot-circle"></i></li>
        <li data-target="2" class="dot"><i class="far fa-dot-circle"></i></li>
        <li data-target="3" class="dot"><i class="far fa-dot-circle"></i></li>
        <li data-target="4" class="dot"><i class="far fa-dot-circle"></i></li>
        <li data-target="5" class="dot"><i class="far fa-dot-circle"></i></li>
        <li data-target="6" class="dot"><i class="far fa-dot-circle"></i></li>
        <li data-target="7" class="dot"><i class="far fa-dot-circle"></i></li>

    </ul>
    <script src="/js/testimonios.js" ></script>
</section>