<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('includes/head') %>
    <title>Escuela Online - Sentir el Ser</title>
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/formacion.css" type="text/css"/>

  </head>
  <body>
    <%-include('includes/header')%>


    <!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
      <section id="formacion-box">
        <article class="art-formacion" id="art-cursos">
          <h2>Formación Integral en Transgeneracional</h2>
          <h4>Con orientación astrogenealógica</h4>
          <img id="img-formacion" src="/img2/formacion-flyer.jpeg" alt="formacion en astrogenealogia">
          <div class="texto">
            <h3>¿De qué se trata?</h3>
            <p>Transgeneracional es un término utilizado por diferentes escuelas terapéuticas, filosóficas y
              psicológicas para describir experiencias y visiones del mundo que se extienden más allá del nivel personal
              de la psique y se transmiten a través de varias generaciones familiares.
              Llevamos con nosotros a nuestros ancestros y su historia se manifiesta en quienes somos, en nuestros
              conflictos, miedos y dudas. <br><br>
              Por eso, es necesario conocer las historias, desvelarlas o incluso imaginarlas, de manera de hacer
              consciente lo inconsciente y convertirnos en seres más libres.<br><br>
              Transformate, aprendé y especializate profesionalmente con esta Formación Integral en Transgeneracional +
              Astrogenealogía.
            </p>
          </div>
        </article>

        <article class="art-formacion lista">
          <h3>Propuesta de la Formación:</h3>
          <ul>
            <li> 8 meses de estudio y prácticas
            </li>
            <li> 30 clases grabadas + apuntes en pdf
            </li>
            <li> 1 webinar en vivo por mes
            </li>
            <li> Acceso a grupo exclusivo de alumnos
            </li>
            <li> Seguimiento personalizado
            </li>
            <li> Certificación como Terapeuta Transgeneracional con Orientación Astrogenealógica
            </li>
          </ul>
        </article>

        <article class="art-formacion">
          <h3>¿En qué consiste la Formación?</h3>
          <p>El objetivo de esta Formación es la comprensión y toma de conciencia de los programas familiares que
            conforman la base biológica, emocional y psicológica de nuestra identidad consciente.<br>


            A través del estudio vivencial del árbol genealógico, identificaremos aquellos programas familiares
            presentes en las
            elecciones de pareja, de trabajo, en la vida cotidiana, en los conflictos y en los síntomas físicos que
            aparecen en
            nuestras vidas.<br><br>

            Comprender estos patrones ofrece la posibilidad de una nueva dinámica en la gestión de nuestras emociones,
            ya que
            éstas dejan de actuar y tener efectos desde el automatismo del inconsciente.<br>


            El estudio del árbol genealógico abre una nueva perspectiva acerca de los conflictos, comprendiéndolos
            dentro de un
            contexto mayor y con una lógica de supervivencia que se viene repitiendo en la historia de la cual
            venimos.<br><br>


            El Transgeneracional funciona como una herramienta para hacer consciente lo inconsciente. Aplicarla
            eficazmente
            ayuda a mejorar las relaciones, potenciar dones y talentos, y tomar la responsabilidad de la realidad que
            queremos
            crear.<br><br>


            Esta propuesta ha sido pensada para que los participantes incorporen herramientas prácticas de desarrollo
            personal
            para aplicarlas primero en sí mismos y, desde la propia experiencia, poder desarrollarlas en los ámbitos de
            la salud
            y la educación.<br><br>


            Toda la formación es en sí misma un proceso de transformación personal haciendo el trabajo personal con la
            propia
            historia genealógica y con la Carta Natal. </p>
        </article>

        <article class="art-formacion">
          <h3>¿Por qué es integral?
          </h3>
          <p>Esta formación conecta el transgeneracional con herramientas de astrología, biodescodificación y otras
            terapias y fuentes de saber ancestral.<br><br>


            Aporta conocimientos imprescindibles para, no sólo saber interpretar un árbol genealógico, sino también
            aplicar técnicas y protocolos para sanar el sistema familiar a través de actos simbólicos, visualizaciones y
            ejercicios.<br><br>


            Además, brinda todas las herramientas necesarias para poder conducir correctamente una consulta
            astrogenealógica y aplicar lo aprendido en el trabajo con otros. </p>
        </article>

        <article class="art-formacion">
          <h3>¿Qué es la Astrogenealogía?</h3>
          <p>Es una combinación de la astrología y la genealogía que nos permite leer en la carta natal la conexión
            entre las circunstancias que vivieron nuestros ancestros con aquello que nos afecta aquí y ahora.<br>


            Esta herramienta resulta de gran ayuda como complemento, cuando no contamos con demasiados datos a la hora
            de armar el árbol.<br><br>

            No es necesario contar con conocimientos previos de astrología. </p>
        </article>



        <article class="art-formacion">
          <h3>¿A quién va dirigido?</h3>
          <p>El curso está dirigido a personas que quieran liberarse de los condicionamientos heredados del clan
            familiar, para transformarse profundamente y desplegar todo su potencial.<br><br>


            Especialmente recomendado para terapeutas, profesionales de la salud o coaches que deseen acompañar a otras
            personas en su proceso de transformación y despliegue. </p>
        </article>


        <article class="art-formacion lista">
          <h3>Objetivos:</h3>
          <ul>
            <li>Brindar una base sólida relativa al lenguaje transgeneracional y astrogenealógico. </li>

            <li> Transmitir principios y guías fundamentales para realizar una investigación del propio árbol
              genealógico. </li>

            <li>Capacitar al egresado para ejercer en el ámbito profesional, acompañando procesos de desarrollo
              personal, combinando estas poderosas herramientas y técnicas. </li>
          </ul>
        </article>

        <article class="art-formacion lista">
          <h3>Formato de cursada:</h3>
          <ul>
            <li>8 meses de cursada (de mayo a diciembre) divididos en 3 módulos. </li>

            <li> 1 clase semanal grabada en video (30 clases en total) </li>

            <li>1 clase mensual en vivo para repasar los temas vistos durante el mes, realizar tareas, consultas y
              preguntas que vayan surgiendo durante el proceso (8 clases en total) </li>
          </ul>
        </article>


        <article class="art-formacion">
          <h3>Calendario:
          </h3>
          <p>Clases semanales grabadas en video, se suben a la plataforma los días miércoles por la mañana, desde mayo
            hasta diciembre.<br><br>


            Inicio: miércoles 5 de mayo de 2022<br>
            Hasta: miércoles 15 de diciembre 2022<br><br>

            Clase mensual en vivo: último sábado de cada mes de 11 a 12:30 hs. aproximadamente (hora argentina).<br>


            Si estás en otro país, podrás ver el horario correspondiente a tu zona en el siguiente enlace:
          </p>

          <a href="#">Ver Horario en mi Pais</a>
        </article>

        <span class="big-text">
          <p>
            TODAS LAS CLASES ESTÁN GRABADAS Y TIENEN ACCESO ILIMITADO SE PUEDE INICIAR LA FORMACIÓN EN CUALQUIER MOMENTO
            DEL AÑO.
          </p>
        </span>

        <article class="art-formacion lista">
          <h3>Metodología de trabajo:</h3>
          <p>La formación incluye partes teóricas y partes prácticas: </p>
          <ul>
            <li>Clases grabadas en video con explicaciones teóricas de acuerdo al programa y cronograma de cursada.
            </li>
            <li>Material bibliográfico en pdf como apoyo a los temas teóricos.

            </li>
            <li>Explicación y hoja de ruta para la elaboración y análisis del árbol genealógico.

            </li>
            <li>Ejercicios prácticos, cuestionarios y guías.

            </li>
            <li>Trabajos prácticos donde aplicaremos toda la teoría.

            </li>
            <li>Recomendación de libros, películas y otros recursos relacionados.

            </li>
            <li>Acceso a la grabación del seminario si no pudiste participar o deseás volver a verlo.

            </li>
          </ul>

          <span class="big-text">
            <p>
              Los ejercicios y protocolos que se realizarán en clase no son obligatorios. Sin embargo, te recomendamos
              hacerlos para enriquecer la experiencia.
            </p>
          </span>
        </article>

        <article class="art-formacion lista modulos">
          <h3>Programa orientativo:</h3>
          <ul>
            <p><span class="boldybreak"><i class="fas fa-caret-right"></i> Módulo 1: El transgeneracional
                (12 clases de mayo a julio):</span>
              Se sientan las bases para la comprensión del transgeneracional y todas sus herramientas esenciales </p>
            <li>Mes 1: Fundamentos del transgeneracional. Antecedentes, autores, bibliografía. Bases del
              transgeneracional. Contratos familiares.

            </li>
            <li>Mes 2: Abordaje sistémico. Lealtades ciegas, excluidos, mandatos, derecho a la pertenencia, herencias
              ancestrales, mitos familiares, bendición y maldición familiar. Proyecto sentido.

            </li>
            <li>Mes 3: Armado y análisis del árbol genealógico. Linajes, dobles, yacientes, maestros, reparación
              ancestral. Síndrome de aniversario. Nudos familiares. Repeticiones. Influencia del clan en la vida
              personal.

            </li>
          </ul>

          <ul>
            <p><span class="boldybreak"><i class="fas fa-caret-right"></i> Módulo 2: Astrogenealogía (12 clases de
                agosto a octubre): </span>Se aprende a interpretar la Carta Natal desde el enfoque sistémico</p>
            <li>Mes 4: Fundamentos de la astrogenealogía. Elementos, signos y planetas en la Carta Natal según la mirada
              del transgeneracional.

            </li>
            <li>Mes 5: Casas astrológicas. Rol del Ascendente. Linajes femenino y masculino en la Carta Natal.

            </li>
            <li>Mes 6: Saturno y los mandatos. Circunstancias familiares en la Carta Natal. Casas de agua: el
              inconsciente familiar, la sombra y el don del árbol genealógico.

            </li>
          </ul>

          <ul>
            <p><span class="boldybreak"><i class="fas fa-caret-right"></i> Módulo 3: Herramientas terapéuticas (6 clases
                en noviembre y diciembre):</span>Se incorporan los conocimientos necesarios para aplicar todo lo
              aprendido en otras personas</p>
            <li>Mes 7: Herramientas de biodescodificación y otras corrientes terapéuticas para el abordaje integral de
              la consulta.

            </li>
            <li>Mes 8: Consulta, metodología y recursos. Rol profesional, alcances y límites.

            </li>
          </ul>

          <span class="big-text">
            <p>Además, tendrás acceso a clases extra de profundización sobre temáticas puntuales como abundancia y
              relaciones de pareja con respecto al árbol genealógico.
            </p>
          </span>
        </article>

        <article class="art-formacion">
          <form target="_blank" action="https://formsubmit.co/contacto@sentirelser.com" method="post" id="register-form">
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_template" value="table">
            <fieldset id="fildset-register">
              <h5>Ingresá tu mail en el siguiente espacio para descargar el programa completo:</h5>
              <div>
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-input" id="email-input" name="email">
              </div>
              <div>
                  <button id="submit-button" target="_blank" action="https://formsubmit.co/contacto@sentirelser.com"type="submit">Obtener programa</button>
                </form>
              </div>
            </fieldset>
        </article>



        <article class="art-formacion">
          <h3>Certificado y alcance profesional:</h3>
          <p>Esta Formación brinda los recursos teóricos y prácticos para poder hacer consultoría en astrogenealogía.
            Para recibir la certificación como consultor, el alumno deberá aprobar el examen final y presentar los
            trabajos prácticos requeridos.<br><br>


            El transgeneracional y la astrología no cuentan con regulación por parte del Ministerio de Educación, por lo
            tanto, tal como sucede en todas las instituciones educativas dedicadas a estas herramientas, la validez del
            certificado no es oficial. </p>
        </article>


        <article class="big-text">
          <p>El trabajo con el árbol genealógico es un complemento a cualquier otro trabajo que el consultante puede
            estar realizando con un profesional de la salud y bajo ningún concepto lo reemplaza. </p>
        </article>

        <div class="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>

        <article class="big-text">
          <p>Para conocer el valor de la Formación, las Promociones y los Medios de Pago
            ingresa desde el siguiente enlace:</p>
          <a class="enlace" href="https://mailchi.mp/5fe173b3255f/precios-y-medios-de-pago">Ver Precios y Formas de
            Pago</a>
        </article>

        <div class="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>

        <article class="big-text">
          <p>Reserva tu cupo llenando el Formulario de Inscripción:</p>
          <a class="enlace" href="https://forms.gle/tSYHmoPbod2jEyfi7">Formulario de inscripción</a>
        </article>

        <div class="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>

        <article class="big-text">
          <p>
            TODAS LAS CLASES ESTÁN GRABADAS Y TIENEN ACCESO ILIMITADO SE PUEDE INICIAR LA FORMACIÓN EN CUALQUIER MOMENTO
            DEL AÑO
          </p>
        </article>

        <div class="separador">
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
          <i class="fas fa-spa"></i>
        </div>

        <article class="art-formacion">
          <h3 id="mica-title">Docente: Micaela Prusso</h3>
          <img id="foto-mica" src="/img/FotoMicaelaPrusso.jpg" alt="foto micaelo prusso">
          <p>Comenzó su trabajo con el Transgeneracional hace 10 años.<br><br>

            Se formó como Terapeuta en Biodescodificación, Memoria Celular, Astrología y Flores de Bach, entre otros.<br>

            Brinda charlas, clases, cursos y sesiones individuales, en las cuales comparte distintas herramientas de
            desarrollo personal. Actualmente está escribiendo su primer libro.<br><br>

            Esta Formación es el resultado de años de estudio, investigación y trabajo con el Árbol Genealógico en su
            totalidad.</p>
        </article>


        <article class="art-formacion testimonios">
          <h3>Testimonios:</h3>
          <p><span>“Gracias Mica, este curso me permitió ver y aceptar patrones inconscientes y repeticiones en mi
              árbol. Es una buena herramienta para sanar y vivir nuestra vida desde la libre elección, sin
              condicionamientos."

              <br>Luján G.</span>

            <span>“El aprendizaje fue muy profundo y movilizador. Sentí que al conocer y abrazar a mis antepasadxs
              (acción indispensable en este momento de mi proceso de crecimiento), abrazo al mismo tiempo mi historia y
              a mí misma.
              Todo está hermosamente vinculado... toda vivencia del camino es hermosamente necesaria.
              ¡Gracias, gracias, gracias!"

              <br>Laura S.</span>
            <span>
              “El proceso ha sido muy revelador. Pude ver patrones que repito de mis ancestros y conectar con mayor
              claridad con mi propósito en esta vida"

              <br>Patricia V.
            </span>
          </p>
        </article>




      </section>

    </main>
    <%-include('includes/footer')%>
</body>

</html>