<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('includes/head') %>
    <title>Home</title>
    <link rel="shortcut icon" href="img/logos/logo-sin-texto.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <%-include('includes/header')  %> 

<!-- -----------------------------------------------MAIN----------------------------------------------- -->

</body>

    <main>
        <div id="titles-box">
        <h1>Sentir el Ser</h1>
        <h2>El Ser no se puede explicar, solo sentir</h2>
        </div>
        <div id="video-box">
        <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/IekJEHOtJn4" title="YouTube Sentir el Ser" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
<!-- FORMULARIO -->
<form action="#" method="post">
    <fieldset>
<label for="name">Nombre</label>
<input type="text" name="name">

<label for="email">Email</label>
<input type="email" name="email">

<button type="submit">Lo Quiero!</button>
    </fieldset>
</form>
    </main>
</html>
