<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('includes/head') %>
    <title>Home</title>
    <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <%-include('includes/header')%> 

<!-- -----------------------------------------------MAIN----------------------------------------------- -->

    <main>
        <div id="main-box">
        <div class="bgimg">
        <div id="titles-box">
        <h1>Coaching Astro - Filosófico</h1>
        <h2>El Ser no se puede explicar, solo sentir</h2>
        </div>
        <div id="video-y-form">
        <div id="video-box">
        <iframe id="video" width="600" height="400" src="https://www.youtube.com/embed/IekJEHOtJn4" title="YouTube Sentir el Ser" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Ve este video y conoce más sobre nosotros</p>
        </div>
<!-- FORMULARIO -->
<form action="#" method="post" id="register-form">
    <fieldset id="fildset-register">
        <h2>Registrate</h2>
        <p>Obten una clase gratuita y recibe nuestras novedades y promociones</p>
        <div>
            <label for="name">Nombre</label>
            <input type="text" class="form-input" id="name-input" name="name">
        </div>
        <div>
            <label for="email" >Email</label>
            <input type="email" class="form-input" id="email-input" name="email">
        </div>
        <div>
        <button id="submit-button" type="submit">Registrarme</button>
        </div>
    </fieldset>
</form>
</div>
</div>
<!-- -------------------------------------Estudia Online -->
<section id="estudia-section">
<h2>ESTUDIA ONLINE CON NOSOTROS</h2>
<ul id="mas-info-cards">
    <li class="card" id="card-masterclass">
        <img src="img/Masterclass.png" alt="masterclass-icon">
        <h3>Masterclass</h3>
        <p>Clases específicas sobre un tema en particular</p>
        <button>Mas Info</button>
    </li>

    <li class="card" id="card-talleres">
        <img src="img/Talleres.png" alt="talleres-icon">
        <h3>Talleres</h3>
        <p>Programa de entrenamiento intensivo que te capacitará para transformar tu vida</p>
        <button>Mas Info</button>
    </li>

    <li class="card" id="card-cursos">
        <img src="img/Cursos.png" alt="cursos-icon">
        <h3>Cursos</h3>
        <p>Talleres de especialización que ampliará tu visión y conocimiento</p>
        <button>Mas Info</button>
    </li>
</ul>
</section>

<!-- ----------------------------Profesores -->
<section id="profesores-section" class="bgimg">
<h2 id="title-profesores">PROFESORES</h2>
    <div class="box-profesores">
                <article  class="box-art-profesores">
                    <img id="profe-img-santi" src="/img/FotoSantiagoRoldán.jpeg" alt="profesor santiago roldan">
                    <div class="box-profesores">
                    <h3 class="profe-nombre">Santiago Roldan</h3>
                    <p class="profe-descripcion">Desarrollá conmigo las potencialidades innatas de tu ser a través del uso práctico y cotidiano
                        de las mayores sabidurías filosóficas de la humanidad.
                    </p>
                    <button class="boton-ver-mas">Ver más</button>
                    </div>
                </article>

                <article class="box-art-profesores">
                    <img id="profe-img-mica" src="/img/FotoMicaelaPrusso.jpg" alt="profesora Micaela Prusso">
                    <div class="box-profesores">
                    <h3 class="profe-nombre">Micaela Prusso</h3>
                    <p class="profe-descripcion">A través de la Astrología, te acompaño a sentir, a descubrirte y a conectar con tu esencia para
                        desplegar e integrar el ser en su totalidad
                    </p>
                    <button class="boton-ver-mas">Ver más</button>
                    </div>
    </div>
                </article>
            </section>
        </div>
<!-- ----------------------------Aprende con nosotros -->

<section id="aprende-section">
    
<h2 id="title-aprende">APRENDE CON NOSOTROS</h2>
            <div id="box-aprende">
            <article class="box-art-aprende">
                <img class="icon-aprende" src="img/icons/astrologia(2).png" alt="icons">
                <h3>¿Para Quién?</h3>
                <div class="box-aprende-p">
                <p>Personas sin conocimientos de Astrología, que quieran realizar una formación para aprender a interpretar el mundo emocional mediante el estudio de la Carta Natal y adquirir una herramienta de desarrollo personal.</p>
                </div>
            </article>

            <article class="box-art-aprende">
                <img class="icon-aprende" src="img/icons/astrologia(3).png" alt="icons">
                <h3>¿Cómo?</h3>
                <div class="box-aprende-p">   
                    <p>Estudiantes de Astrología o Astrólogos profesionales que deseen tomar una formación de especialización, entendiendo cómo funciona el Mundo Emocional en una carta natal.</p>
                </div>
            </article>

            <article class="box-art-aprende">
                <img class="icon-aprende" src="img/icons/astrologia(4).png" alt="icons">
                <h3>¿Qué?</h3>
                <div class="box-aprende-p">
                    <p>Quienes quieran tener un enfoque moderno, terapéutico y evolutivo a sus lecturas de cartas astrológicas. Quienes quieran tener un enfoque moderno, terapéutico y evolutivo a sus lecturas de cartas astrológicas.</p>
                </div>
            </article>

            <article class="box-art-aprende">
                <img class="icon-aprende" src="img/icons/astrologia(5).png" alt="icons">
                <h3>¿Para qué?</h3>
                <div class="box-aprende-p">
                    <p>Para terapeutas que quieran adquirir una herramienta de diagnóstico aplicada a entender cómo funcionan emocionalmente sus pacientes, tanto adultos como niños.</p>
                </div>
            </article>

        </div>
        </section>
<!-- --------------------------------------------------testimonios -->

        <section id="carousel">
            <h2>TESTIMONIOS</h2>
            <div id="wrapper">
                <article class="box-art-testimonios slide-container" data-slide="0">
                    <img class="icon-aprende" src="img/testimonios/Carolina-Muñeza.jpeg" alt="foto testimonio">
                    <h3>Carolina Muñeza - Médica Clínica</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            Trabajamos con mi árbol genealógico y relato de vida. Los ejercicios fueron muy reveladores en mi proceso personal.  Para mí lo más destacable de Mica es su generosidad, su respeto y disponibilidad en el acompañamiento. 
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </article>
                <article class="box-art-testimonios slide-container" data-slide="1">
                    <img class="icon-aprende" src="img/testimonios/Eloisa-García.jpeg" alt="foto testimonio">
                    <h3>Eloisa García - Emprendedora</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            Con Mica aprendí a observar mis creencias, a no juzgarme y a transformarlas. Me voy de cada sesión con un conocimiento nuevo, con una herramienta para destrabar esas situaciones que me limitan. Aprendí y crecí mucho con su acompañamiento.
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </article>
                <article class="box-art-testimonios slide-container" data-slide="2">
                    <img class="icon-aprende" src="img/testimonios/Jessica-Zapata.png" alt="foto testimonio">
                    <h3>Jessica Zapata - Astróloga</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            Mi experiencia con los cursos fue excelente, me ayudó a conocer mis creencias limitantes, el poder de mis pensamientos y cómo puedo transformarlos. Además, tuve un primer contacto con mi intuición, me conecté conmigo misma, y eso abrió un camino para empezar a conocerme.
                            <i class="fas fa-quote-right"></i>
                        </p>
                </article>
                <article class="box-art-testimonios slide-container" data-slide="3">
                    <img class="icon-aprende" src="img/testimonios/Leandro-Fernandez-Strifezza.jpeg" alt="foto testimonio">
                    <h3>Leandro Fernandez Strifezza - Psicólogo</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            La capacidad de Santiago para problematizar los comportamientos cotidianos, enlazándolos a temáticas de base filosófica y ancestral, siempre me llamó la atención. No es tarea simple hacer de la filosofía una herramienta práctica para la transformación de vida, y mucho menos hacerlo de una manera asequible para todas las personas. 
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </article>
                <article class="box-art-testimonios slide-container" data-slide="4">
                    <img class="icon-aprende" src="img/testimonios/Lihuen-Saulino.jpg" alt="foto testimonio">
                    <h3>Lihuen Saulino - Artista</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            La influencia de Santiago despertó diferentes puntos de vista en mi manera de ver el mundo, permitiéndome comprender la esencia de diferentes temas de interés personal, profundizando en mis pensamientos a través de diversas filosofías.
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </article>
                <article class="box-art-testimonios slide-container" data-slide="5">
                    <img class="icon-aprende" src="img/testimonios/Sabina-Grassi.jpg" alt="foto testimonio">
                    <h3>Sabina Grassi - Cantante</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            Aprendí a conectarme conmigo, a escuchar a esa niña que fui y sus vivencias, a abrazarla. Aprendí que esa niña sigue viviendo en mí y recién ahora de grande puedo cuidarla y cuidarme, perdonar, abrazarla... y sanar. ¡Sigo aprendiendo de esa niña que me trae las raíces de varios traumas y sanar con ella! 
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </article>
                <article class="box-art-testimonios slide-container" data-slide="6">
                    <img class="icon-aprende" src="img/testimonios/Tatiana-Gaitán.png" alt="foto testimonio">
                    <h3>Tatiana Gaitán - Psicóloga</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            Ha sido un proceso de aprendizaje, de permitirme sacar emociones, resignificar mis creencias, perdonarme, conocerme y cuidarme. No ha sido fácil, pero con compromiso, amor y acompañamiento cualquier situación puede ser transformada. Mica es una excelente profesional, tiene una escucha diferencial, realmente tiene las palabras justas en momentos donde se necesita contención.
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </article>
                <article class="box-art-testimonios slide-container" data-slide="7">
                    <img class="icon-aprende" src="img/testimonios/Marcos-Gallo.jpeg" alt="foto testimonio">
                    <h3>Marcos Gallo - Emprendedor</h3>
                    <div class="box-testimonios-p">
                        <p>
                            <i class="fas fa-quote-left"></i>
                            Santi me ayudó a ver mi realidad con otra perspectiva, viendo todo desde un lugar más calmo y con mayor energía, permitiéndome tomar decisiones más alineadas con mi sentir.
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </article>
            </div>
            
            <nav>
                <a class="arrow" href="#" data-preview="0" id="btn-preview">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <a class="arrow" href="#" data-next="1" id="btn-next">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </nav>
            <ul>
                <li data-target="0" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="1" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="2" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="3" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="4" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="5" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="6" class="dot"><i class="far fa-dot-circle"></i></li>
                <li data-target="7" class="dot"><i class="far fa-dot-circle"></i></li>

            </ul>
        </section>

    <!-- <section id="carousel">
        <div id="wrapper">
            <figure class="slide-container" data-slide="0"><img src="https://images.unsplash.com/photo-1521058798685-39dd95c33314?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyODM1NTY5MQ&ixlib=rb-1.2.1&q=85" alt="" class="slide-image"></figure>
            <figure class="slide-container" data-slide="1"><img src="https://images.unsplash.com/photo-1613499039410-26c3fc223b65?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyODM1NTY5MQ&ixlib=rb-1.2.1&q=85" alt="" class="slide-image"></figure>
            <figure class="slide-container" data-slide="2"><img src="https://images.unsplash.com/photo-1483394943446-89e4d5530d8c?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyODM1NTY5MQ&ixlib=rb-1.2.1&q=85" alt="" class="slide-image"></figure>
        </div>
        <nav>
            <a class="arrow" href="#" data-preview="0" id="btn-preview">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a class="arrow" href="#" data-next="1" id="btn-next">
                <i class="fas fa-arrow-right"></i>
            </a>
        </nav>
        <ul>
            <li data-target="0" class="dot"><i class="far fa-dot-circle"></i></li>
            <li data-target="1" class="dot"><i class="far fa-dot-circle"></i></li>
            <li data-target="2" class="dot"><i class="far fa-dot-circle"></i></li>
        </ul>
    </section> -->


    </main>
    <script src="js/home.js" ></script>
</body>

</html>
