<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('includes/head') %>
    <title>Home</title>
    <link rel="shortcut icon" href="img/Logo.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <%-include('includes/header')%> 

<!-- -----------------------------------------------MAIN----------------------------------------------- -->

</body>

    <main>
        <div id="main-box">
        <div id="titles-box">
        <h1>Coaching Astro - Filosófico</h1>
        <h2>El Ser no se puede explicar, solo sentir</h2>
        </div>
        <div id="video-y-form">
        <div id="video-box">
        <iframe id="video" width="600" height="400" src="https://www.youtube.com/embed/IekJEHOtJn4" title="YouTube Sentir el Ser" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Ve este video y conoce más sobre nosotros</p>
        </div>
<!-- FORMULARIO -->
<form action="#" method="post" id="register-form">
    <fieldset id="fildset-register">
        <h2>Registrate</h2>
        <p>Obten una clase gratuita y recibe nuestras novedades y promociones</p>
        <div>
            <label for="name">Nombre</label>
            <input type="text" class="form-input" id="name-input" name="name">
        </div>
        <div>
            <label for="email" >Email</label>
            <input type="email" class="form-input" id="email-input" name="email">
        </div>
        <div>
        <button id="submit-button" type="submit">Registrarme</button>
        </div>
    </fieldset>
</form>
</div>

<ul id="mas-info-cards">
    <li class="card" id="card-masterclass">
        <img src="img/Masterclass.png" alt="masterclass-icon">
        <h3>Masterclass</h3>
        <p>Clases específicas sobre un tema en particular</p>
        <button>Mas Info</button>
    </li>

    <li class="card" id="card-talleres">
        <img src="img/Talleres.png" alt="talleres-icon">
        <h3>Talleres</h3>
        <p>Programa de entrenamiento intensivo que te capacitará para transformar tu vida</p>
        <button>Mas Info</button>
    </li>

    <li class="card" id="card-cursos">
        <img src="img/Cursos.png" alt="cursos-icon">
        <h3>Cursos</h3>
        <p>Talleres de especialización que ampliará tu visión y conocimiento</p>
        <button>Mas Info</button>
    </li>
</ul>

<!-- ----------------------------Profesores -->
<h2 id="title-profesores">PROFESORES</h2>
    <div class="box-profesores">
            <section>
                <article  class="box-art-profesores">
                    <img id="profe-img-santi" src="/img/FotoSantiagoRoldán.jpeg" alt="profesor santiago roldan">
                    <div class="box-profesores">
                    <h3 class="profe-nombre">Santiago Roldan</h3>
                    <p class="profe-descripcion">Desarrollá conmigo las potencialidades innatas de tu ser a través del uso práctico y cotidiano
                        de las mayores sabidurías filosóficas de la humanidad.
                    </p>
                    <button class="boton-ver-mas">Ver más</button>
                    </div>
                </article>

                <article class="box-art-profesores">
                    <img id="profe-img-mica" src="/img/FotoMicaelaPrusso.jpg" alt="profesora Micaela Prusso">
                    <div class="box-profesores">
                    <h3 class="profe-nombre">Micaela Prusso</h3>
                    <p class="profe-descripcion">A través de la Astrología, te acompaño a sentir, a descubrirte y a conectar con tu esencia para
                        desplegar e integrar el ser en su totalidad
                    </p>
                    <button class="boton-ver-mas">Ver más</button>
                    </div>
    </div>
                </article>
            </section>

    </main>
</html>
