<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Sentir el Ser</title>
</head>
<body>
    <a href="/admin/seminarios">Seminarios</a>
    <a href="/admin/masterclass">Masterclass</a>
    <a href="/admin/formacion">Formacion</a>
    <a href="/admin/usuarios">Usuarios</a>

    <!-- TODO: dentro de cada link hacer una view donde se muestren esas cosas y se puedan
    editar, eliminar y crear nuevas a partir de un formulario -->
    <!-- Tambien aca va a estar la administracion del blog -->
</body>
</html>