
<article class="blog-art">
    <img src="img/formaciones/formacion.jpg" alt="">
    <h1>Despertando la energía creativa de nuestro niño interior</h1>
    <div class="art-content">
        <p>
            Para poder reconectar con nuestro niño interior primero debemos saber
            que es la energía del niño,la cual nos ayudará a sanar como adultos.
            Todos nacemos colmados de energía vital y en armonía con la existencia, cuando
            iniciamos la niñez vamos contemplando cada movimiento y sonido, explorando nuestro
            cuerpo, que es nuestro mundo. Lleno de vitalidad, asombro, curiosidad, inocencia, pureza,
            sin yo, sin límites, más allá de toda forma o estructura mental y emocional, nos vamos
            riendo de nosotros mismo y de los descubrimientos, entre oleadas incesantes de
            aprendizaje espontáneo que elevan el ser, volviéndolo todo un eterno juego.
            A medida que vamos creciendo nos desconectamos y adormecemos nuestra naturaleza
            más íntima, bloqueando y obstruyendo la energía creativa, olvidándonos de ese niño/a que
            fuimos. ¿Alguno recuerda a qué jugaba de niño/a? <br><br>
            Hay dos razones por las que sucede esto, una tiene que ver con nosotros
            (causa interna) y la otra por algo externo. <br><br>
            Esta causa externa (la escuela, la sociedad, la familia, la cultura) nos moldea para ser útiles
            al sistema, volviéndonos adultos rígidos y serios. El origen principal lo podemos atribuir a la
            escuela convencional, quien se encarga de homogeneizar a la población, preparándonos
            para el mundo laboral. Esto condiciona nuestra mente, cuerpo y emociones.
            Por eso, es necesario romper con las creencias inculcadas y recuperar
            nuestra fuerza creativa, reencontrándonos con nuestros deseos más profundos
            y fundiéndonos con el sentir del ser.<br><br>
            En consecuencia a lo mencionado anteriormente, esos actos nos van generando emociones
            desagradables o incómodas de las cuales intentamos protegernos activando distintos
            mecanismos de defensa (estas son principalmente los miedos), llevándonos a las causas
            internas, que tienen que ver con todas las estructuras emocionales, activando así nuestro
            complejo lunar dependiendo de nuestra carta natal.<br><br>
            Aquí vamos a enfocarnos en un factor fundamental, el elemento lunar (signo lunar y a qué
            elemento corresponde). Ese signo nos va a dar indicios sobre el comportamiento que
            fuimos adquiriendo en la infancia para sobrellevar todo este proceso. Es decir, los
            mecanismos lunares que nos sirvieron de ayuda para no sentir tanto dolor, donde
            a su vez, estorbaron el flujo de nuestra energía creativa.
            Es muy valioso conocerlos e identificarlos, para reconocer cuando estamos
            actuando desde ellos y así poder desarmarlos y conectar verdaderamente
            con la emoción que estamos transitando.<br><br>
            
            Luna de fuego, se encuentra en los signos de Aries, Leo, Sagitario.
            El fuego es una energía que nos enciende y nos lleva a movernos. Por lo que el niño con la
            luna en alguno de estos signos, para sobrellevar todas estas emociones incómodas,
            necesitará ponerse en movimiento, lo que nos acompañará en la adultez.
            Aries y leo son propensos a la inquietud y ansiedad, en el caso de Sagitario es más de
            evasión de &quot;está todo bien&quot;
            Si sos signo en fuego podrías plantearte las siguientes preguntas ¿Qué pasa si paro?
            ¿Qué pasa si me quedo quieto y me permito habitar eso que estoy sintiendo?.
            Luna en tierra, son los signos de Tauro, Virgo y Capricornio.
            Ellos están relacionados con el trabajo, la responsabilidad y el orden. Este niño
            seguramente ante una emoción incómoda, se volverá exigente, rígido, llevándolo a
            desconectarse de su sentir. En el caso de Virgo se pondrá a ordenar o limpiar, Capricornio
            trabajando en exceso y Tauro abusando de la comida o durmiendo de más.
            Cuando este signo detecte estas acciones, es importante preguntar ¿qué pasa si dejo lo
            que estoy haciendo, me detengo y siento? <br><br>
            Luna en Aire, se ubican los signos Géminis, Libra o Acuario.
            Este signo tiene como mecanismo de defensa la racionalización de las cosas e ir a su
            mente para desconectarse de su sentir, queriendo encontrar respuestas y soluciones como
            así también queriendo hablar con alguien. En este caso, las técnicas o terapias les serán
            de gran ayuda para sobrellevar la emoción que atraviesan.<br><br>
            Luna en Agua, son los signos de Cáncer, Escorpio y Piscis.<br>
            En el caso de estos signos su mecanismo de defensa es totalmente distinto a los otros,
            ellos sí sienten las emociones, tanto es así que se funden en ellas. Son personas que
            pueden quedar &quot;ahogadas&quot; en el drama y en el victimismo. Las personas con luna en agua
            deben apoyarse en los dones del otro polo, el Aire, tratando así de tomar distancia
            de sus emociones, junto con terapias y herramientas que les permitan observar la
            situación con objetividad.<br><br>
            Siendo adultos es muy importante detectar estos mecanismos que hablábamos
            anteriormente, nuestro desafío ante esta situación debe estar en no responder de la misma
            manera a la que estoy acostumbrado. Cuando eso se desbloquee y podamos sentir
            plenamente, también vamos a estar accediendo a toda la energía vital y creativa. Cuando
            conectemos con esa energía reaparecerán todas aquellas emociones incómodas, miedos y
            conflictos que vivimos en la infancia, pero no hay que asustarse, ya que esto es un gran
            paso para mejorar y conectarnos con nuestro verdadero ser. Ya conscientes, debemos
            pasar a la acción, por ejemplo teniendo una cita con nuestro niño interior y disfrutando algo
            que nos guste. Es fundamental entender que todo esto es un proceso, que no debe solo
            quedar en un ratito del día, sino formar parte de nuestra vida cotidiana para que nuestra
            energía vital y creativa se manifieste en su totalidad.<br><br>
            ¡Ahora te invitamos a que pongas en movimiento tu niño interior!<br><br>
            <b>Sentir el ser.</b>
                </p>
    </div>

</article>